@font-face {
	font-family: 'Gotham Pro';
	src: local('☺'), url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
