			/* Section 3 */

.section-stories {
	max-width: 1030px;
	margin: 0 auto 81px;
	padding: 0 47px;
}
.section-stories__title {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	margin: 0 0 41px 0;
}
.section-stories-top {
	margin: 0 auto 76px;
	display: flex;
	justify-content: space-between;
}
.stories-content__title {
	font-size: 18px;
	margin: 26px 0 8px 0;
}
.stories-content__text {
	width: 307px;
	margin: 0 0 13px 0;
  line-height: 18px;
}
.more {
	display: flex;
	justify-content: space-between;
}
.more__link {
	font-size: 12px;
	width: 122px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
}
.more__link:after {
	content: '';
	position: absolute;
	top: 3px;
	right: 0;
	width: 30px;
	height: 8px;
	background: url("../images/logo/arrow-b.svg");
	transition: background 0.5s;
}
.more__link:hover:after, .more__link:focus:after {
	background: url("../images/logo/arrow-b-red.svg");
}
.more__data {
	font-size: 12px;
	color: #b3b3b3;
	letter-spacing: 0.3px;
}
.section-stories-bottom {
	margin: 0 auto;
}
.stories-bottom__hashtag {
	text-align: right;
	text-transform: uppercase;
	font-size: 18px;
	color: #b3b3b3;
	font-weight: bold;
	margin: 0 0 8px 0;
}
.pictures {
	display: flex;
	justify-content: center;
}
.pictures__image {
	width: 147px;
}
.pictures__image:last-child {
	display: none;
}

@media screen and (max-width: 1024px) {
	.section-stories {
		margin: 0 auto 93px;
	}
	.section-stories-top {
		margin: 0 auto 87px;
	}
	.stories-content {
		width: 276px;
	}
	.stories-content__title {
		margin: 26px 0 7px 0;
	}
	.stories-content__text {
		font-size: 13px;
		line-height: 16px;
    width: 277px;
		margin: 0 0 22px 0;
	}
	.stories-content__photo {
		width: 277px;
		height: 149px;
	}
	.more__link {
		width: 120px;
	}

	.pictures__image {
		width: 133px;
		height: 135px;
	}
	.pictures__image_display-none {
		display: none;
	}
}

@media screen and (max-width: 940px) {
	.section-stories-top {
		justify-content: space-around;
	}
	.stories-content:last-child {
		display: none;
	}
	.pictures__image:nth-child(6),
	.pictures__image:nth-child(7) {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.section-stories {
		background-color: #000;
		color: #fff;
		padding: 63px 0 0 0;
	}
	.section-stories__title {
		font-size: 30px;
	}
	.section-stories-top {
		justify-content: flex-start;
    padding: 0 0 0 43px;
	}
	.stories-content {
		width: 298px;
		margin: 0 71px 0 0px;
	}
	.stories-content__title {
		font-size: 25px;
		margin: 26px 0 7px 0;
	}
	.stories-content__text {
		font-size: 20px;
		line-height: 25px;
		width: 312px;
		margin: 0 0 37px 0;
	}
	.stories-content__photo {
		width: 312px;
		height: 165px;
	}
	.more__link {
		font-size: 20px;
		width: 204px;
		color: #fff;
	}
	.more__link:after {
		background: url("../images/logo/arrow-w.svg") right no-repeat;
		background-size: cover;
		width: 49px;
    height: 16px;
		top: 5px;
	}
	.more__data {
		font-size: 15px;
		margin: 4px -33px 0 0px;
	}
	.section-stories-bottom {
		height: 193px;
	}
	.section-stories-bottom::after {
		content: '';
		position: absolute;
		bottom: : 0;
		left: 0;
		width: 100%;
		height: 36px;
		transform: translateY(-233px);
		background: linear-gradient(to bottom left, #000 50%, #fff 52%);
	}
	.stories-bottom__hashtag {
		font-size: 30px;
		padding: 37px 43px 0 0;
		margin-bottom: 10px;
	}
	.pictures {
		width: 680px;
		margin: 0 auto;
		display: block;
		font-size: 0;
		position: relative;
		z-index: 1;
	}
	.pictures__image {
		width: 170px;
		height: 172px;
	}

	.pictures__image:nth-child(6),
	.pictures__image:nth-child(7),
	.pictures__image:last-child {
		display: inline;
	}
}

@media screen and (max-width: 746px) {
	.stories-content:nth-child(2) {
		display: none;
	}
}

			/* Footer */

.footer {
	width: 1170px;
	margin: 0 auto;
	color: #fff;
	background-color: #000;
	font-size: 12px;
}
.footer-container {
	width: 88%;
	margin: 0 auto;
}
.footer-top {
	display: flex;
	padding: 67px 0 37px 130px;
}
.footer-box {
	display: flex;
	flex-direction: column;
}
.footer-box_account {
	margin: 0 114px 0 0;
}
.footer-box_service {
	margin: 0 72px 0 0;
}
.footer-box_miscellaneous {
	margin: 0 85px 0 0;
}
.footer-box__text {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 8px 0;
}
.footer-box__link {
	color: #fff;
	text-decoration: none;
	margin: 0 0 5px 0;
}
.footer-box__btn {
	width: 136px;
	height: 30px;
	text-align: center;
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 35px 0;
}
.footer-box__btn:hover, .footer-box__btn:focus {
	background-color: #fff;
	color: #000;
	cursor: pointer;
	border-color: #000;
}
.footer-box__btn:active {
	background-color: red;
}
.footer-icons__unit {
	margin: 0 22px 0 0;
}
.footer-bottom {
	padding: 0 0 33px 0;
}
.footer-bottom__text {
	text-align: center;
}


@media screen and (max-width: 1024px) {
	.footer {
		width: 1023px;
	}
	.footer-container {
		width: 91%;
	}
	.footer-top {
		padding: 67px 0 43px 81px;
	}
	.footer-box__text {
		margin: 0 0 9px 0;
	}
	.footer-box__link {
		margin: 0 0 4px 0;
	}
}
