html, body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Gotham Pro';
	font-size: 14px;
	box-sizing: border-box;
}

			/* Header */

.header {
	width: 1170px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.wrapper-menu {
	width: 88%;
	margin: 0 auto;
	padding: 32px 0 8px 0;
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 45px;
	width: 55px;
	height: 55px;
	background: url(../images/logo/logo.svg) no-repeat;
}
.nav {
	margin-right: 164px;
	padding-bottom: 2px;
}
.nav__link {
	margin-right: 31px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0 6px 0;
	transition: 0.5s;
}
.nav__link:hover, .authorization__link:hover {
	color: #fa0522;
	background: rgb(247, 237, 240, 0.2);
}
.form {
	width: 173px;
	position: relative;
	display: flex;
	margin-right: 36px;
	padding: 8px 0 0 0;
}
.form__field {
	position: relative;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
}
.form__btn {
	border: none;
	position: absolute;
	height: 14px;
	width: 14px;
	top: 7px;
	right: -3px;
	cursor: pointer;
	background: url("../images/logo/search.svg");
}
.authorization {
	display: flex;
	align-items: center;
}
.authorization__link {
	margin-right: 35px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	transition: 0.5s;
}
.authorization__link_mod {
	margin-right: 55px;
}
.authorization__link_mod:after {
	content: "1";
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	font-size: 10px;
	left: 40px;
	top: 0;
	height: 15px;
	width: 13px;
	background: #000;
	color: #fff;
	border-radius: 50%;
}
.authorization__logo {
	height: 19px;
}
.burger {
	display: none;
}

@media screen and (max-width: 1024px) {
	.header {
		width: 1024px;
		margin-bottom: 31px;
	}
	.wrapper-menu {
		width: 91%;
		padding: 30px 0 10px 0;
	}
	.logo {
		margin-right: 31px;
		width: 60px;
		height: 59px;
		background-size: cover;
	}
	.nav {
		margin-right: 114px;
		padding-bottom: 5px;
	}
	.form {
		width: 156px;
		margin-right: 32px;
		padding-bottom: 13px;
	}
	.authorization__link {
		margin-right: 27px;
		padding-bottom: 2px;
	}
	.authorization__link_mod {
		margin-right: 46px;
	}
	.authorization__logo {
		height: 19px;
		width: 18px;
		padding-bottom: 3px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		width: 768px;
		margin-bottom: 38px;
	}
	.nav, .form, .authorization {
		display: none;
	}
	.wrapper-menu {
		width: 89%;
		margin: 0 44px 0 43px;
		display: flex;
		justify-content: space-between;
		padding: 41px 0 0 0;
	}
	.logo {
		margin-right: 45px;
		width: 156px;
		height: 34px;
		background: url(../images/logo/logo2.svg);
	}
	.burger {
		display: block;
		position: relative;
		width: 62px;
		height: 25px;
	}
	.burger:before, .burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 9px;
		right: 0;
	}
	.burger:before {
		top: 1px;
	}
	.burger:after {
		bottom: -2px;
	}
}

@media screen and (max-width: 375px) {
	.header {
		width: 375px;
		margin-bottom: 16px;
	}
	.wrapper-menu {
		width: 75%;
		margin: 0 47px 0 48px;
		padding: 22px 0 8px 0;
		display: flex;
		justify-content: space-between;
	}
	.logo {
		margin-right: 45px;
		width: 104px;
		height: 22px;
		background: url(../images/logo/logo2.svg) no-repeat;
		background-size: cover;
	}
	.burger {
		display: block;
		position: relative;
		width: 42px;
		height: 25px;
	}
	.burger:before, .burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 6px;
		right: 0;
	}
	.burger:before {
		top: 5px;
	}
	.burger:after {
		bottom: 3px;
	}
}

@media screen and (max-width: 320px) {
	.header {
		width: 320px;
		margin-bottom: 16px;
	}
	.wrapper-menu {
		width: 88%;
		margin: 0 20px;
		padding: 22px 0 8px 0;
	}
}

			/* Section 1 */

.section-products {
	width: 1170px;
	margin: 0 auto;
}
.ad {
	width: 88%;
	margin: 0 auto;
	height: 280px;
	background: url("../images/section1/ad/main.png") no-repeat;
	background-size: inherit;
	margin-bottom: 51px;
}
.ad__title {
	margin: 0;
	font-size: 30px;
	width: 196px;
	line-height: 29px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 14px;
	padding: 89px 0 0 59px;
}
.ad__link {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 53px 0 59px;
	position: relative;
}
.ad__link:after {
	content: "";
	position: absolute;
	top: 4px;
	right: 0;
	width: 46px;
	height: 10px;
	background: url("../images/logo/arrow-w.svg") no-repeat;
}
.products {
	width: 88%;
	margin: 0 auto;
}
.products__title {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	margin: 0 0 16px 0;
}
.wrapper-sneakers {
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin: 0 auto;
}
.sneakers {
	position: relative;
	width: 208px;
  height: 261px;
}
.sneakers:after {
	content: "";
	position: absolute;
	background-color: #d0d0d0;
	width: 1.5px;
	height: 100px;
	top: 40px;
	right: -30px;
}
.sneakers_after-none:after {
	display: none;
}
.sneakers__photo {
	padding-left: 11px;
	cursor: pointer;
	transition: transform 0.5s;
}
.sneakers__photo:hover {
	transform: scale(1.5);
	border: 1px solid #c4c4c4;
}
.sneakers__name {
	padding-top: 11px;
	font-size: 12px;
	margin-bottom: 6px;
}
.prise {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.prise__text {
	margin: 0;
	font-weight: bold;
}
.prise-circles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 55px;
}
.circle {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background: red;
}
.circle_size {
	height: 9px;
	width: 9px;
}
.circle_color-gray {
	background: #c4c4c4;
}
.circle_color-brown {
	background: #e29d69;
}
.circle_color-red {
	background: #b62e3c;
}
.circle_color-yellow {
	background: #fdb431;
}
.circle_color-black {
	background: #0e1211;
}
.circle_color-smoke {
	background: #762e31;
}
.circle_color-blue {
	background: #41479b;
}
.circle_color-sky {
	background: #257dA9;
}

@media screen and (max-width: 1024px) {
	.section-products {
		width: 1024px;
		margin-bottom: 45px;
	}
	.ad {
		width: 91%;
		height: 252px;
		background-position: center;
		background-size: cover;
		margin-bottom: 63px;
	}
	.ad__title {
		padding: 75px 0 0 55px;
		margin-bottom: 8px;
	}
	.ad__link {
		padding: 0 59px 0 55px;
	}
	.products {
		width: 91%;
	}
	.wrapper-sneakers {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}
	.sneakers {
		padding: 7px 48px 0 9px;
	}
	.sneakers:after {
		height: 102px;
    top: 41px;
    right: 15px;
	}
	.sneakers__photo {
		width: 173px;
		height: 161px;
	}
	.sneakers__name {
		padding: 18px 0 0 2px;
	}
	.prise__text {
		padding: 0 0 0 3px;
	}
	.prise-circles {
		width: 50px;
    margin-right: -5px;
	}
}

@media screen and (max-width: 768px) {
	.section-products {
		width: 768px;
		margin-bottom: 81px;
	}
	.ad {
		width: 100%;
		height: 415px;
		background: url("../images/section1/ad/main767.svg") no-repeat;
	}
	.ad__title {
		font-size: 50px;
		padding: 121px 0 0 45px;
		margin-bottom: 45px;
		line-height: 48px;
	}
	.ad__link {
		font-size: 20px;
		padding: 0 84px 0 44px;
	}
	.ad__link:after {
		width: 76px;
		height: 14px;
		background-size: 100%;
		top: 6px;
	}
	.products {
		width: 100%;
	}
	.sneakers_display-none {
		display: none;
	}
	.products__title {
		font-size: 30px;
		padding-right: 15px;
	}
	.sneakers {
		padding: 11px 0 0 0;
		width: auto;
		height: auto;
	}
	.sneakers:after {
		display: none;
	}
	.sneakers_margin {
		margin: 0 97px 0 81px;
	}
	.sneakers__photo {
		width: 231px;
    height: 219px;
    padding: 0 0 0 17px;
	}
	.sneakers__photo:hover {
		transform: none;
		border: none;
	}
	.sneakers__name {
		font-size: 20px;
		padding: 6px 0 0 4px;
	}
	.prise__text {
		font-size: 25px;
		padding: 7px 0 0 4px;
	}
	.prise-circles {
		width: auto;
		margin: 0 -9px 0 0;
		padding: 5px 0 0 0;
	}
	.circle {
		width: 20px;
		height: 20px;
		margin: 0 0 0 5px;
	}
}

@media screen and (max-width: 375px) {
	.section-products {
		width: 375px;
		margin-bottom: 89px;
	}
	.ad {
		width: 100%;
		height: 191px;
		background: url("../images/section1/ad/main374.svg") no-repeat;
		background-size: cover;
		margin-bottom: 36px;
	}
	.ad__title {
		font-size: 20px;
		padding: 66px 0 0 48px;
		margin-bottom: 16px;
		line-height: 19.5px;
	}
	.ad__link {
		font-size: 12px;
		padding: 0 54px 0 48px;
	}
	.ad__link:after {
		width: 48px;
		height: 14px;
		top: 3px;
	}
	.products__title {
		font-size: 20px;
		padding-right: 9px;
		margin-bottom: 0;
	}
	.sneakers {
		padding: 0 0 0 9px;
		width: auto;
		height: auto;
	}
	.sneakers_disp-none {
		display: none;
	}
	.sneakers_margin {
		margin: 0 0 0 50px;
	}
	.sneakers__photo {
		width: 164px;
    height: 153px;
    padding: 0 0 0 49px;
	}
	.sneakers__name {
		font-size: 15px;
		padding: 7px 0 0 3px;
		margin-bottom: 3px;
	}
	.prise__text {
		font-size: 20px;
		padding: 0 0 0 4px;
	}
	.prise-circles {
		margin: 0 -57px 0 0;
	}
	.circle {
		width: 15px;
		height: 15px;
		margin: 0 0 0 5px;
	}
}

@media screen and (max-width: 320px) {
	.section-products {
		width: 320px;
	}
	.ad {
		width: 100%;
		height: 191px;
		background: url("../images/section1/ad/main374.svg") center no-repeat;
		background-size: cover;
	}
	.ad__title {
		padding: 66px 0 0 20px;
	}
	.ad__link {
		padding: 0 54px 0 20px;
	}
	.sneakers_margin {
		margin: 0 0 0 23px;
	}
	.prise__text {
		padding: 0 0 0 3px;
	}
	.prise-circles {
		margin: 0 -56px 0 0;
	}
}
>>>>>>> 17a0bf11c878c76c9c2f712ea772ecb5f58c5fdf
