html, body {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Gotham Pro';
	font-size: 14px;
	box-sizing: border-box;
}

			/* Header */

.header {
	width: 1170px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.wrapper-menu {
	width: 88%;
	margin: 0 auto;
	padding: 32px 0px 8px 0px;
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 45px;
	width: 55px;
	height: 55px;
	background: url(../img/logo/logo.svg) no-repeat;
}
.nav {
	margin-right: 164px;
	padding-bottom: 2px;
}
.nav__link {
	margin-right: 31px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0 6px 0;
	transition: 0.5s;
}
.nav__link:hover, .authorization__link:hover {
	color: #fa0522;
	background: rgb(247, 237, 240, 0.2);
}
.form {
	width: 173px;
	position: relative;
	display: flex;
	margin-right: 36px;
	padding-bottom: 11px;
}
.form__field {
	position: absolute;
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	top: 0;
	right: 0;
}
.form__btn {
	border: none;
	position: absolute;
	height: 14px;
	width: 14px;
	top: 0;
	right: 0;
	cursor: pointer;
	background: url("../img/logo/search.svg");
}
.authorization {
	display: flex;
	align-items: center;
}
.authorization__link {
	margin-right: 35px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	transition: 0.5s;
}
.authorization__link_mod {
	margin-right: 55px
}
.authorization__link_mod:after {
	content: "1";
	position: absolute;
	text-align: center;
	left: 40px;
	top: 0;
	height: 15px;
	width: 15px;
	background: #000;
	color: #fff;
	border-radius: 50%;
}
.authorization__logo {
	height: 19px;
}
.burger {
	display: none;
}

@media screen and (max-width: 1023px) {
	.header {
		width: 1024px;
		margin-bottom: 31px;
	}
	.wrapper-menu {
		width: 91%;
	}
	.logo {
		margin-right: 28px;
		width: 62px;
		height: 59px;
	}
	.nav {
		margin-right: 114px;
		padding-bottom: 5px;
	}
	.form {
		width: 156px;
		margin-right: 32px;
		padding-bottom: 16px;
	}
	.authorization__link {
		margin-right: 27px;
		padding-bottom: 5px;
	}
	.authorization__link_mod {
		margin-right: 46px;
	}
	.authorization__logo {
		height: 19px;
		width: 18px;
		padding-bottom: 3px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		width: 767px;
		margin-bottom: 30px;
	}
	.nav, .form, .authorization {
		display: none;
	}
	.wrapper-menu {
		width: 89%;
		margin: 0 44px 0 43px;
		display: flex;
		justify-content: space-between;
	}
	.logo {
		margin-right: 45px;
		width: 156px;
		height: 34px;
		background: url(../img/logo/logo2.svg);
	}
	.burger {
		display: block;
		position: relative;
		width: 62px;
		height: 25px;
	}
	.burger:before, .burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 9px;
		right: 0;
	}
	.burger:before {
		top: 1px;
	}
	.burger:after {
		bottom: -2px;
	}
}

@media screen and (max-width: 374px) {
	.header {
		width: 374px;
		margin-bottom: 16px;
	}
	.wrapper-menu {
		width: 75%;
		margin: 0 47px 0 48px;
		padding: 22px 0px 8px 0px;
		display: flex;
		justify-content: space-between;
	}
	.logo {
		margin-right: 45px;
		width: 104px;
		height: 22px;
		background: url(../img/logo/logo2.svg) no-repeat;
		background-size: cover;
	}
	.burger {
		display: block;
		position: relative;
		width: 42px;
		height: 25px;
	}
	.burger:before, .burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 6px;
		right: 0;
	}
	.burger:before {
		top: 5px;
	}
	.burger:after {
		bottom: 3px;
	}
}

@media screen and (max-width: 319px) {
	.header {
		width: 319px;
		margin-bottom: 16px;
	}
	.wrapper-menu {
		width: 88%;
		margin: 0 20px;
		padding: 22px 0px 8px 0px;
	}
}

			/* Section 1 */

.section-products {
	width: 1170px;
	margin: 0 auto;
}
.ad {
	width: 88%;
	margin: 0 auto;
	height: 280px;
	background: url("../img/section1/ad/main.png") no-repeat;
	background-size: inherit;
}
.ad__title {
	margin: 0;
	font-size: 30px;
	width: 196px;
	line-height: 29px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 14px;
	padding: 89px 0 0 59px;
}
.ad__link {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 53px 0 59px;
	position: relative;
}
.ad__link:after {
	content: "";
	position: absolute;
	top: 4px;
	right: 0;
	width: 46px;
	height: 10px;
	background: url("../img/logo/arrow-w.svg") no-repeat;
}

@media screen and (max-width: 1023px) {
	.section-products {
		width: 1024px;
	}
	.ad {
		width: 91%;
		height: 252px;
		background-position: center;
		background-size: cover;
	}
	.ad__title {
		padding: 75px 0 0 55px;
		margin-bottom: 8px;
	}
	.ad__link {
		padding-left: 55px;
	}
}

@media screen and (max-width: 767px) {
	.section-products {
		width: 767px;
	}
	.ad {
		width: 100%;
		height: 415px;
		background: url("../img/section1/ad/main767.svg") no-repeat;
	}
	.ad__title {
		font-size: 50px;
		padding: 121px 0 0 45px;
		margin-bottom: 45px;
		line-height: 48px;
	}
	.ad__link {
		font-size: 20px;
		padding: 0 86px 0 44px;
	}
	.ad__link:after {
		width: 80px;
		height: 14px;
		background-size: 100%;
	}
}
@media screen and (max-width: 374px) {
	.section-products {
		width: 374px;
	}
	.ad {
		width: 100%;
		height: 191px;
		background: url("../img/section1/ad/main374.svg") no-repeat;
		background-size: cover;
	}
	.ad__title {
		font-size: 20px;
		padding: 66px 0 0 48px;
		margin-bottom: 16px;
		line-height: 19.5px;
	}
	.ad__link {
		font-size: 12px;
		padding: 0 54px 0 48px;
	}
	.ad__link:after {
		width: 48px;
		height: 14px;
	}
}

@media screen and (max-width: 319px) {
	.section-products {
		width: 319px;
	}
	.ad {
		width: 100%;
		height: 191px;
		background: url("../img/section1/ad/main374.svg") center no-repeat;
		background-size: cover;
	}
	.ad__title {
		padding: 66px 0 0 21px;
	}
	.ad__link {
		padding: 0 54px 0 21px;
	}
